<a href="https://colab.research.google.com/github/Jao-Steven-Rey-C/PLM-Elective-3-LAB/blob/main/LOOP_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A LOOP control statement is used to perform looping operations.

FOR loop is for iterating over a sequence. Similar to WHILE but it is used to process a list in large range of numbers.

# Example 1

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week: #'x' can be any variable.
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

# Example 2 (The 'break' statement)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week: #'x' can be any variable.
  print(x)
  if x == "Thursday": #You can use an if statement within a for statement.
                      #This means that if list is at "Thursday, then stop."
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

# Example 3 (The 'break' statement)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week: #'x' can be any variable.
  if x == "Thursday":
    break
  print(x) #This means list will end at 'Wednesday'.

Sunday
Monday
Tuesday
Wednesday

# Example 4 (Looping through a String)

In [ ]:
for x in "week":
  print(x)

w
e
e
k

# Example 5 (Application 3)

Print only Thursday.

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
   if x == "Thursday":
    print(x)
    break

Thursday

The range() function

*   To loop through a set of code a specified # of times. We can use the range() function.
*   It returns a sequence of #'s starting from 0 by default and increment by 1 (by default), and ends at a given #.

# Example:

In [ ]:
for x in range(5): #Range function is exclusive.
  print(x)

print("")

for x in range(2, 6):
  print(x)

0
1
2
3
4

2
3
4
5

# Nesed Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  print("")
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry

big apple
big banana
big cherry

tasty apple
tasty banana
tasty cherry

# Python While Loops

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# Break Statement for While Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# Continue Statement

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue #Means program will bypass number.
  print(i)

1
2
4
5
6

# Else Statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
#Let's try 1
i = 0
while i<=10:
  print ("Hello ", i)
  i+=1

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

In [ ]:
#Let's try 2
for x in range(3, 10):
  print(x)

3
4
5
6
7
8
9