<a href="https://colab.research.google.com/github/Jao-Steven-Rey-C/PLM-Elective-3-LAB/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals

Python is a popular programming language invented by Guido van Rossum in the year, 1991.

It is used for:
1. Web Development
2. Software Development
3. Math
4. System scripting

Why choose Python?
1. It works on different OSes.
2. Syntax is similar to spoken English.
3. Less lines of code required.
4. It runs on an interpreter system.
5. Can be treated procedurally, object-orientally, or functionally.

The latest Python as of 10/5/2020 is Python 3.9.

In [ ]:
#Python indentation. The space before a line of code is called "indentation".
if 5>2:
    print("Five is greater than 2")

Five is greater than 2

#Variable Naming Conventions​

myvar = "John“​ #This is Correct

2myvar = "John“​ #This is Wrong

_my_var = "John“​ #This is Correct

myVar = "John“​ #This is Correct

my var = "John" #This is Wrong

In [ ]:
#This is a comment
print ("Hello World!")

Hello World!

In [ ]:
##Python Variable​
x = 1
a, b = 0, -1
a, b = 8, 9
d = "Sally" #This is a type of string.
print(a) #Variable Will output latest value it is assigned to.
print(b)
print(d)

8
9
Sally

In [ ]:
#Casting
d= "sally" #This is a type of string​
d=int(4)
print(d)

4

In [ ]:
#Type() Function
type_a = 5
type_b = "John"
print(type(type_a))
print(type(type_b))

<class 'int'>
<class 'str'>

In [ ]:
#DOuble quote or single quote can be used for string
m = 'John'
M = "John"
print(m)
print(M)

John
John

In [ ]:
# Case sensitive
v = 4
V = "Sally"
# V will not overwrite v
print(v)
print(V)

4
Sally

In [ ]:
#Multiple Variables​
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [ ]:
#One Value to Multiple Variables
x_a = y_a = z_a = "four"
print(x_a)
print(y_a)
print(z_a)

four
four
four

In [ ]:
#Output Variables​
x_b = "fun"
print ("Python is " + x_b)

#Other way
x_c = "Python is "
y_b = "intuitive."
z_b = x_c + y_b
print(z_b)

Python is fun
Python is intuitive.

In [ ]:
#Arithmetic ops
e = 6
f = 3
print(e + f) #Addition
print(e - f) #Subtraction
print(e * f) #Multiplication
print(e / f) #Division
print(e % f) #Modulus
print(e ** f) #Exponentiation
print(e // f) #Floor Division
sum = e+f
print(sum)

9
3
18
2.0
0
216
2
9

In [ ]:
#Assignment Ops
g,h,i=0,-1, 6
i%=3 #Modulus the current value of i by 3
i

0

In [1]:
j,k,l=0,-1,6
print(j>k and l>k) #The < and > are Comparison Operators​ while the 'and' is a Logical Operators.
print(j==k and l!=k)
print(j==k or l!=k)
print(not(j==k or l!=k))
print(j==k)
print(j!=k)

True
False
True
False
False
True

In [ ]:
#Identity Operators​
n,o,p=0,-1,5
n is p

False

In [8]:
#Bitwise Operators
  #10+1=11 ; 1010+0001=1011
print(10 | 1) #Bitwise OR
print(10 & 1) #Bitwise AND
print(10 ^ 1) #Bitwise XOR
print(~10) #Bitwise NOT

x_d = 1
print(x_d>>1) #Bitwise Right Shift
print(x_d<<1) #Bitwise Left Shift

11
0
11
-11
0
2

Application 1

In [37]:
#Create a Python program that displays your Fullname, Age, and Course and Section.
fullname = "Jao, Steven Rey C."
age = 20
course = "Elective 3 (LABORATORY)"
section = "20233 - CPE 0332.1-1 - "

print ("My name is " + fullname + " I am " + str(age) + " years old.")
print ("I am currently enrolled in: " + section + course + ".")

My name is Jao, Steven Rey C. I am 20 years old.
I am currently enrolled in: 20233 - CPE 0332.1-1 - Elective 3 (LABORATORY).